.hero {
  padding: 118px 0;
  text-align: center;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(97, 105, 194, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}
.hero-container {
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__title {
  @include font(26px, 1.615, 0.06em);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include font(44px, 1.364, 0.06em);
  }
}
