:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --font-color: #212121;
  --secondary-color: #ffffff;
  --logo-header-color: #000000;
  --logo-part-color: #2196f3;
  --text-color: #757575;
  --hero-background-color: #c4c4c4;
  --footer-background-color: #2f303a;
  --button-background-color: #188ce8;
  --portfolio-button-color: #f5f4fa;
  --mail-link-color: rgba(255, 255, 255, 0.6);
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --social-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
